* {
  box-sizing: border-box;
}

.App {
  background-image: url("assets/images/appBackground.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

p {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  color: #D32F2F;
}
